<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpha Storage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Alpha Storage</h1>
      </div>
    </header>

    <main class="container">
      <div class="upload-form">
        <!-- <h2>Upload File</h2> -->
        <form id="upload-form" method="post" enctype="multipart/form-data">
          <label style="font-size: 16px; width: 160px; padding: 10px; background-color: #e1e1e1; border-radius: 10px;" for="file-input">Choose File</label>
          <input type="file" name="file" id="file-input" required />
          <button type="submit" id="upload-button">Upload</button>
        </form>
        <br/>
        <!-- <div id="progress-container">
          <div id="progress-bar"></div>
          <div id="progress-percent">0%</div>
        </div> -->
        <div class="progress">
          <div class="color" id="insideFiller"></div>
        </div>
      </div>

      <div class="file-list">
        <h2>File List</h2>
        <% if(files.length === 0) { %>
        <p>No files uploaded yet</p>
        <% } else { %>
        <% files.forEach(function(file) { %>
        <div class="file-card">
          <h3><%= file.fileName %></h3>
          <p>Size - <%= file.fileSize %></p>
          <a class="download-btn" href="/download/<%= file.fileName %>" data-name="<%= file.fileName %>">Download</a>
          <span class="created-date"><%= file.createdAt %></span>
        </div>
        <% }); %>
        <% } %>
      </div>
    </main>

    <div class="modal" id="modal">
      <div class="modal-content">
        <h2>Download File</h2>
        <p>Are you sure you want to download this file?</p>
        <div class="modal-buttons">
          <a href="#" id="modal-download-btn" download>Download</a>
          <button id="modal-cancel-btn">Cancel</button>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      (function() {
        const uploadForm = document.getElementById("upload-form");
        const fileInput = document.getElementById("file-input");
        const uploadButton = document.getElementById("upload-button");
        const progressContainer = document.getElementById("progress-container");
        // const progressBar = document.getElementById("progress-bar");
        const progressBar = document.getElementById("insideFiller");
        const progressPercent = document.getElementById("progress-percent");

        uploadForm.addEventListener("submit", function(event) {
          event.preventDefault();
          const formData = new FormData();
          formData.append("file", fileInput.files[0]);

          const xhr = new XMLHttpRequest();
          xhr.upload.addEventListener("progress", function(event) {
            const percent = (event.loaded / event.total) * 100;
            // progressBar.style.width = percent + "%";
            progressBar.style.width = percent.toFixed(0) + "%";
            // progressPercent.textContent = percent.toFixed(0) + "%";
          });

          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              window.location.reload();
            }
          };

          xhr.open("POST", "/upload");
          xhr.send(formData);

          uploadButton.disabled = true;
          progressContainer.style.display = "block";
        });
      })()
    </script>
  </body>
</html>
